{% extends 'base.html' %}

{% block style %}




{% endblock %}

{% block head %}
	<link rel='stylesheet' href='{{STATIC_URL}}success.css'>

{% endblock %}
	{% block content %}
	<div class='container-fluid'>

		   {% autoescape off %} 
<div class='row-fluid'>
	<div class='main-profile'>
		 <h2 class='text-center'> {{details.fullName}}</h2>
		 	<div class='profile'>
		 		<div class='circle'>
				 		<span class='picture'>
				 			<img src='{{image}}' alt='{{details.fullName}}'>
				 		</span><!-- end picture-->
					 	<div class='profile-items'>	
					 		<p>{{profile.0}}</p>
					 		<p>{{profile.1}}</p>
					 		<p>{{profile.2}}</p>
					 		<p>{{profile.3}}</p>
					 		<p>{{profile.4}}</p>
					 		<p>{{profile.5}}</p>
					 		<p>{{profile.6}}</p>
					 		<p>{{profile.7}}</p>
					 	</div><!-- end profile-items-->
				</div>
		 	</div><!-- end profile -->


<!-- THE STATS HAVE BEEN TAKEN DOWN AS IT'S PRE-SEASON. WILL LOOK FOR NEW STATS-->
	<!-- 	<div class='stats'>
			<h5 id='heading'> Premier League 2012/13 Stats </h5>
				<table cellspacing="1" cellpadding="3" class="statistics">
					<tbody>
						<tr>
							<th>Games</th>
							<th>Goals</th>
							<th>Assists</th>
							<th>Shots</th>
						</tr>
						<tr>
							<td>{{stats.0}}</td>
							<td>{{stats.1}}</td>
							<td>{{stats.2}}</td>
							<td>{{stats.3}}</td>
						</tr>
					</tbody>
				</table>
		</div> <!-- end stats --> 

<!--- TWEETS SECTION -->
				
				{% if results %}

					<ul class='tweets'>
						<h3> Latest tweets about {{details.firstName}}</h4>
			 			<li>{{results.0}}</li>
			 			<li>{{results.1}}</li>
			 			<li>{{results.2}}</li>
			 			<li>{{results.3}}</li>
			 			<li>{{results.4}}</li>
			 			<li>{{results.5}}</li>
			 	</ul>

			 	{% endif %}


<!-- END TWEETS SECTION -->

	</div><!-- end main-profile -->


		
</div><!-- end row-->



		 
<!-- 		 <div class='gossip'>
		 	{% if "no_gossip =='no'" %}
		 	<p> No Gossip </p>

		 	

		 </div>
		 	{% elif gossip %}
		 	<h3>Newspaper Gossip </h3>
		 	<h4>{{newspaper}} </h4>
		 	<p> {{gossip}}</p>


		 	{% endif %} -->

<!-- VIDEOS SECTION -->

		<div class='row-fluid' id='video-row'>
		 	<div class='videos'>
		 		<h3>Popular Videos about {{details.firstName}}</h3>
		 			<div class='span4' id="ajax_video1"></div>
					<div class='span4' id="ajax_video2"></div>
					<button id='button'> View More Videos </button>
		 	</div>
		 	
		</div>
		 <!-- end row -->

<!-- END VIDEO SECTION  -->




<!-- LINKS SECTION -->
	<div class='row-fluid' id='link-row'>
		<div class='links'>
			<h3>Links</h3>
				 <li><a href = '{{details.links.web.athletes.href }}' target='_blank'> {{details.firstName}}'s Web Profile</a></li>
				 <li><a href = '{{details.links.mobile.athletes.href }}' target='_blank'> {{details.firstName}}'s Mobile Profile</a></li>

		</div><!-- end links -->

		</div><!-- end link row-->
		 

<!-- END LINKS SECTION -->

</div> <!-- End container -->

	{% endautoescape %} 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

<!-- <script type="text/javascript" src='https://gdata.youtube.com/feeds/api/videos?q={{details.firstName}}+{{details.lastName}}&orderby=relevance&max-results=1&v=2&alt=jsonc&callback=showVideo' ></script> -->

{% endblock %}
   
{% block script %}
<script>

$(document).ready(function(event){
			//searches on for the first 2 clips from YouTube API so that the page loads faster
            $.get('https://gdata.youtube.com/feeds/api/videos?q={{details.firstName}}+{{details.lastName}}&orderby=relevance&max-results=2&v=2&alt=jsonc',
            function(response) {
                if(response.data && response.data.items) {
                    var items = response.data.items;
                    //check if video returned. If so add the value returned to the url. Then add it 
                    //to an iframe
                   	if(items.length>0) {
                        var item1 = items[0];
                        var item2 = items[1];
                        var videoid_1= "http://www.youtube.com/embed/"+item1.id;
                        var videoid_2 = "http://www.youtube.com/embed/"+item2.id;
                        console.log("Latest ID: '"+videoid_1+"'");
                        console.log("Latest ID: '"+videoid_2+"'");
                        var video1 = "<iframe width='420' height='315' src='"+videoid_1+"' frameborder='0' allowfullscreen></iframe>";
                        var video2 = "<iframe width='420' height='315' src='"+videoid_2+"' frameborder='0' allowfullscreen></iframe>";
                        $('#ajax_video1').html(video1);
                        $('#ajax_video2').html(video2);
                    }
                }
            })
			

			
				$('#button').on('click', function(event){
					//searches for the first 10 most relevant clips from youtube
					$.get('https://gdata.youtube.com/feeds/api/videos?q={{details.firstName}}+{{details.lastName}}&orderby=relevance&max-results=10&v=2&alt=jsonc',
			            function(response) {
			                if(response.data && response.data.items) {
			                    var new_items = response.data.items;
			                    // a for loop to iterate through all the videos returned.
			                    //Add this to the url and then save it as an iframe
			                    if(new_items.length>0) {
			                    	for (var i=2; i<=10; i++){
			                    		// console.log('here');
			                    		var new_item = new_items[i];  
			                    		console.log('after item');                  		
			                    		var videoid = "http://www.youtube.com/embed/" +new_item.id;
			                        	console.log("Latest ID: '"+videoid+"'");
			                        	var final_vid = "<iframe width='420' height='315' src='"+videoid+"' frameborder='0' allowfullscreen></iframe>";
			                        	//check if the number is even, if so place add left class to add to the left
			                        	if (i % 2 == 0) {
			                        		$('#ajax_video2')
			                        			.after('<div class="span4" id="left">'+ final_vid + '</div>');
			                        	}else{
			                        		$('#ajax_video2')
			                        			.after('<div class="span4" id="right">'+ final_vid + '</div>');

			                        	}//end for loop
			                        
			                    	}//end for loop
			                	}//end if
			            	}  //end response if
						})//end function response - closed bracket for get request
				//lengthen the height of the background so if fills all the videos
				$('.videos').css('height', '2000px');
					})
					
			});//end click function

</script>

{% endblock %}




