<!doctype html>
<html>

<head>

	<meta charset= utf-8>
  {% load staticfiles %}
	<title>The Writer's Network </title>


<link rel='stylesheet' href='{{static_url}}writer/bootstrap/css/bootstrap.css'>
<link rel='stylesheet' href='{{static_url}}writer/flatui.css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>




</head>

<body>
    <div class="container">

<!-- Sign Up Area -->
  <div class="login" style='top:5%'>
        
         <div class="demo-headline">
          Thanks for signing up!
        </div><!--End demo-headline-->
  </div>      
<!--End Sign Up Area -->




  </div> <!-- /container -->

<script  src='http://code.jquery.com/jquery-1.9.1.js'></script>
<script  src="{{static_url}}writer/flatui-js/application.js"></script>
<script  src="{{static_url}}writer/flatui-js/tooltip.js"></script>
<script  src="{{static_url}}writer/flatui-js/custom_checkbox.js"></script>
<script  src="{{static_url}}writer/flatui-js/custom_radio.js"></script>
<script  src="{{static_url}}writer/bootstrap/js/bootstrap.js"></script>
<script  src="{{static_url}}writer/custom.min.js"></script>
<!--<script  src="dropkick.js"></script>-->
<script  src="{{static_url}}writer/jquery.placeholder.js"></script>
<script  src="{{static_url}}writer/tagsinput.js"></script>
<script  src="{{static_url}}writer/ie.js"></script>




  </body>

	</html>