<!doctype html>
<html>

<head>

  <meta charset= utf-8>
  <title>The Writer's Network </title>


<link rel='stylesheet' href='{{STATIC_URL}}bootstrap.css'>
<link rel='stylesheet' href='{{STATIC_URL}}flatui.css'>
<link href='http://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>


<style>
.login-screen{
  background: #BDC3C7
}
</style>

</head>

<body>
    <div class="container">

<!-- Sign Up Area -->
  <div class="login" style='top:5%'>
        <div class="login-screen">
         <div class="demo-headline">
        <h2 class="demo-logo" style='padding-top:1%'>
          <div class='logo'> </div>
          The Writer's Network
          <small>Connecting Writers and Agents</small>
        </h2>
            <h2> Launching Soon! </h2>
            <h3> Sign up for early access</h3>
          </div>
          <div class="login-form" class='span4'>
            <div class="control-group">
              <form action="" method="post"> {% csrf_token %}         
       <input type="text" class="login-field" value="" placeholder="Enter your email" id="sign-up-name" name='email'/>
            <input type="submit" class="btn btn-primary btn-large btn-block" value='Request an Invite'>
          </div>
        </form>
        </div>
      </div>      
<!--End Sign Up Area -->




    </div> <!-- /container -->

<script  src='http://code.jquery.com/jquery-1.9.1.js'></script>
<script  src="{{STATIC_URL}}application.js"></script>
<script  src="{{STATIC_URL}}tooltip.js"></script>
<script  src="{{STATIC_URL}}custom_checkbox.js"></script>
<script  src="{{STATIC_URL}}custom_radio.js"></script>
<script  src="{{STATIC_URL}}bootstrap.js"></script>
<script  src="{{STATIC_URL}}custom.min.js"></script>
<!--<script  src="dropkick.js"></script>-->
<script  src="{{STATIC_URL}}jquery.placeholder.js"></script>
<script  src="{{STATIC_URL}}tagsinput.js"></script>
<script  src="{{STATIC_URL}}ie.js"></script>




  </body>

  </html>